<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RollNGo"
        tools:targetApi="31" >
        <activity
            android:name=".YourCafeAdapter"
            android:exported="false" />
        <activity
            android:name=".FavouriteCafeAdapter"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvbdctd0oNc0ELm8DDNLLRvW-Kbbc4rwU" />

        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".AddCafeActivity"
            android:exported="false" />
        <activity
            android:name=".BottomTab"
            android:exported="false" />
        <activity
            android:name=".SimpleTextAdapter"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" > <!-- MUST be true for launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>